/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Muli|Ovo');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Pangolin|Roboto');

body {
    font-family: 'Open-Sans';
    background-color: rgba(245, 245, 245, 0.5);;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0 auto;
}

/* HEADER */

header {
    vertical-align: middle;
    background-image: url('img/header_image.jpg');
    background-color: rgba(0, 0, 0, 0.55);
} 

nav {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 4% 4% 2% 4%;
}

nav ul {
    float: center;
}

nav img {
    float: left;
    margin-bottom: 10px;
}

nav li {
    display: inline-block;
    text-align: center;
    color: white;
    font-family: 'Lobster';
    text-decoration: none;
    font-size: 25px;
    margin: 0% 0% 0% 0%;
    padding: 0% 4% 4% 4%;
}

/* BODY */

main {
    margin: 30px auto;
    border: 1px solid white;
    text-align: center;
    width: 960px;
}


h1 {
    color: black;
    font-size: 45px;
    text-align: center;
    font-family: 'Lobster';
    margin: 30px 0 0 0;
}

h2 {
    font-family: 'Oswald';
    text-align: center;
    font-size: 30px;
    border-bottom: 1px dotted black;
}

h3 {
    font-family: 'Oswald';
    color: black;
    font-size: 30px;
    text-align: center;
    margin: 0 0 0 0;
}

p {
    font-family: 'Open Sans';
    color: black;
    line-height: 140%
}

.sub-banner {
    margin: 30px 0px;
}

.sub-banner:after {
    display: table;
    content:'';
    clear: both;
}

.sub-banner li {
    float: left;
    margin-left: 30px;
    text-decoration: none;
}

.sub-banner li:first-child {
    margin-left: 0px;
}

.nav a {
    color: salmon;
}

.nav a:hover {
    color: blue;
}

div.feature1 {
    margin: 30px 0;
}

.feature1:after {
    display: table;
    content:'';
    clear: both;
}

div.feature2 {
    padding: 30px 0;
}

.feature2:after {
    display: table;
    content:'';
    clear: both;
}

.feature1 img {
    float: left;
    width: calc(50% - 30px);
    margin-right: 30px;
}

.feature1 p {
    margin: 15px;
    text-align: left;
}

.feature2 img {
    float: right;
    width: calc(50% - 30px);
    margin-left: 30px;
}

.feature2 p {
    margin: 15px;
    text-align: left;
}

.feature1 button {
    outline: none;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}

.feature1 button:hover {
    background-color: indianred;
}

/* TABLES */
table {
    border: 1px solid black;
    text-align: center;
    margin: 5% 5% 5% 5%;
}

th {
    font-style: italic;
    border-bottom: 1px solid black;
}

/* DIVS */

form {
    width: 300px;
    margin: 0 auto;
}

form#shop {
    width: 600px;
    text-align: left;
    line-height: 140%;
    margin: 40px auto;
}

form#shop input {
    margin: 0 10% 0 0;
}

form#shop button {
    background-color: rgba(186, 113, 88, 100);
    color: white;
    margin: 0 10% 0 0;
    text-align: center;
}

#stores {
    margin: 30px auto;
    border: 1px solid white;
    width: 1100px;
    background-color: floralwhite;
    padding: 0% 0% 10% 0%;
}

div h2 {
    font: 'Roboto';
    text-align: center;
    border-bottom: 1px dotted black;
}


div li {
    font-family: 'Roboto';
    margin: 1% 10%;
    text-align: left;
    text-decoration: none;
}

div.spacer {
    height: 60px;
}

/* LINKS */
a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: dimgrey;
}

/* FOOTER */

.center {
    display: block;
    margin: 0 auto;
    border: 5px; 
    height: 80px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.github-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.linkedin-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  /*border-radius: 20%;*/
  /**adds rounded corners to element; makes circle**/
}

